body {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/91vKzxi7E9L._AC_SL1500_.jpg'); 
    background-size: cover;
  }

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}

#login {
  padding: 20px;
}

#footer{
  position:fixed;
  bottom: 25px;
  left:100px;
 }

 .hidden {
   display: none;
 }

 #card-container {
   background-color: white;
 }

