body {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/91vKzxi7E9L._AC_SL1500_.jpg'); 
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    background-attachment: fixed;
    box-sizing: border-box;
  }

h1 {
    font-family: "blippoblack";
    text-transform: lowercase;
    padding-left: 20px;
    padding-top: 0;
    letter-spacing: 2px;
  }

h2 {
  font-family: "blippoblack";
  text-transform: lowercase;
  border: solid black 2px;
  border-radius: 5px;
  letter-spacing: 2px;
}

#navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
  width: 100%;
  height: 10%;
  position: fixed;
}

.nav-buttons {
  margin: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#login {
  padding-top: 5px;
  margin: 10px; 
}

#content {
  padding: 40px;
  padding-top: 100px;
}

#create-container > * {
  /* background-color: white; */
  /* width: 100%;
  margin: 0 auto; */
  display: block;
}

#footer{
  position:fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 10%;
 }

 #footer > * {
   width: 10%;
   margin: 20px auto;
   display: inline-block;
 }

 .hidden {
   display: none;
 }

 .card {
   background-color: white;
   width: 30%;
   height: 500px;
   padding: 15px;
   margin-top: 20px;
   display: inline-block;
 }

 .card img {
  max-height: 50%;
  display: block;
 }

 .outfit-card {
  background-color: white;
  width: 100%;
  height: 500px;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  margin-right: 40px;
 }

 .outfit-images {
   display: inline-block;
   height: 275px;
   width: 100%;
 }

 .outfit-images img {
  display: inline-block;
  max-height: 100%;
  margin-right: 40px;
  margin-left: 40px;
 }

 .card > * {
   margin: 5px auto;
   text-align: center;
 }

 .card button {
   margin: 10px;
 }

 input[type=submit], button {
  background-color: black;
  border: solid white 1px;
  color: white;
  font-family: "blippoblack";
  text-transform: lowercase;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
}

input[type=text], select {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-family: "Courier New";
}
