body {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/91vKzxi7E9L._AC_SL1500_.jpg'); 
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    background-attachment: fixed;
  }

h1 {
    font-family: "blippoblack";
    text-transform: lowercase;
    padding-left: 20px;
    padding-top: 0;
    letter-spacing: 2px;
  }

h2 {
  font-family: "blippoblack";
  text-transform: lowercase;
  border: solid black 2px;
  border-radius: 5px;
  letter-spacing: 2px;
}

#navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
  width: 100%;
  height: 10%;
  position: fixed;
}

.nav-buttons {
  margin: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#login {
  padding-top: 5px;
  margin: 10px; 
}

#content {
  padding: 40px;
  padding-top: 100px;
}

#footer{
  position:fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 10%;
 }

 #footer > * {
   margin: 20px;
 }

 .hidden {
   display: none;
 }

 .card {
   background-color: white;
   width: 25%;
   padding: 20px;
   margin: 20px;
 }

 .card > * {
   margin: 20px;
   text-align: center;
 }

 input[type=submit], button {
  background-color: black;
  border: solid white 1px;
  color: white;
  font-family: "blippoblack";
  text-transform: lowercase;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
}

input[type=text] {
  padding: 5px;
  margin: 5px;
}

img {
  height: 75%;
  width: 75%;
}

